@import url(/css/utilidades/cores.css);
@import url(/css/utilidades/tipografia.css);
@import url(/css/home/main.css);
@import url(/css/home/section.css);
@import url(/css/home/qualidade.css);
@import url(/css/creditos/creditos.css);

body,
h1,
h2,
h3,
p,
a,
b,
li,
ul,
span {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
.btn {
  display: flex;
  justify-content: center; /* centraliza na horizontal */
  align-items: center;
  padding: 12px 25px;
  background-color: var(--cor-p1);
  border-radius: 20px;
  width: 210px;
  text-align: center;
}
.btn:hover {
  background-color: var(--cor-p-4);
}
@media (max-width: 720px) {
  .btn {
    padding: 14px 15px;
    width: 190px;
  }
}
a,
span {
  display: inline-block;
}
body {
  background-color: var(--cor-1);
}
.container {
  margin: 0px auto;
  max-width: 1440px;
  padding-left: 60px;
  padding-right: 60px;
}
@media (max-width: 900px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 400px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .imagem-mobile {
    display: none;
  }
  .main-bg {
    box-shadow: inset 0 -300px var(--cor-1);
  }
}
span {
  margin-left: 7px;
}
