.font-1-xxl {
  font: 500 4rem "Cabin", sans-serif;
}
.font-1-xl {
  font: 500 3.375rem "Cabin", sans-serif;
}

.font-1-l {
  font: 700 1.875rem "Cabin", sans-serif;
}

.font-1-m-b,
.font-1-m-sb,
.font-1-m {
  font: 400 1.375rem "Cabin", sans-serif;
}

.font-1-m-b {
  font-weight: 700;
}

.font-1-m-sb {
  font-weight: 600;
}

.font-1-s,
.font-1-s-b {
  font: 400 1.125rem "Cabin", sans-serif;
}

.font-1-s-b {
  font-weight: 700;
}
@media (max-width: 1380px) {
  .font-1-xxl {
    font-size: 3.25rem;
  }
  .font-1-l {
    font-size: 1.625rem;
  }
}
@media (max-width: 400px) {
  .font-1-xxl {
    font-size: 3rem;
  }
  .font-1-m {
    font-size: 1.22rem;
  }
}
