.servico-lista {
  margin-top: 30px;
}
.servico-lista ul {
  display: flex;
  flex-wrap: wrap;
}
.servico-lista li {
  flex: 1 1 290px;
  margin-right: 30px;
}
.servico img {
  margin-top: 30px;
}
.servico h3 {
  margin-top: 20px;
}
.servico p {
  margin-top: 10px;
}
.outros {
  padding-top: 100px;
  text-align: center;
}
.servico a {
  margin-top: 60px;
  margin-bottom: 120px;
  justify-self: center;
}
@media (max-width: 1160px) {
  .servico-titulo {
    margin-top: 60px;
  }
}
@media (max-width: 900px) {
  .servico-titulo {
    text-align: center;
  }
  .servico-lista li {
    margin-right: 15px;
  }
}
@media (max-width: 680px) {
  .servico-lista {
    margin-top: 15px;
  }
  .servico h3 {
    margin-left: 10px;
    padding-top: 10px;
  }
  .servico p {
    display: none;
  }
  .servico-lista li {
    display: flex;
    align-items: center;
  }
  .servico img {
    width: 30px;
  }
  .outros {
    padding-left: 30px;
  }
  .servico a {
    margin-top: 60px;
    margin-bottom: 120px;
  }
}
